html,
body {
	margin: 0;
	padding: 0;
}

.FlexWrap {
  color: #fff;
  background-color: beige;
	font-family: 'Oswald', sans-serif;
  height: 100vh;
  width: 100vw;
  /* padding: 20px; */
   
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;        /* test with wrap nowrap */
  justify-content:space-between;
  align-items: center;
}

.FlexItem {
  height: 150px;
  width: 300px;     /* fixed size will demonstrate the wrap */
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.Red {
  background: orangered;
}
.Green {
  background: yellowgreen;
}
.Blue {
  background: steelblue;
}

/*debugging, to take away later: */
.FlexWrap {
  border:2px solid black;
}

