html,
body {
	margin: 0;
	padding: 0;
}


@media screen and (orientation: portrait) {
	
	.MenuWrap {
		flex-direction: column;	/* makes flexbox change the direction */
		background-color: indigo;
		color: #ebebeb;
		font-family: 'Oswald', sans-serif;
		font-size: 1rem;
		height: 2.75rem;
		display: flex;
		align-items: flex-start;  /* changed to align around main axis to the left */	
		padding: 0 1rem;
		width:4em;
		height:100vh
	}
	
	
	.ListItem {
		margin-bottom: 1rem;		/* change to 1rem; to move to the last item to the bottom */
	}
	
	.LastItem {
		margin-top: auto;		/* change to margin-top; to move to the last item to the bottom */
	}
}

@media screen and (orientation: landscape) {
	
	.MenuWrap {
		flex-direction: row;	/* makes flexbox change the direction */
		background-color: indigo;
		color: #ebebeb;
		font-family: 'Oswald', sans-serif;
		font-size: 1rem;
		height: 2.75rem;
		display: flex;
		justify-content:space-between;
		align-items: flex-start;  /* changed to align around main axis to the left */	
		padding: 0 1rem;
		height:2em
	}
	
	.ListItem {
		margin-right: 1rem;		/* change to 1rem; to move to the last item to the bottom */
	}
	
	.LastItem {
		margin-left: auto;		/* change to margin-top; to move to the last item to the bottom */
	}
}

.ListItem, .LastItem {
	display: flex;
	color:#f0ec0e;
	text-decoration: none;  /* removes the classic link underline */
}



/*
.ListItem,
.LastItem {
	background-color: gray;
}
*/